.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home-header{
    width: 50%;
}

.title{
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.pagination-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}