.navbar {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar-logo {
    margin-right: 10px;
}

.navbar-logo img {
    width: 40px;
    height: 40px;
}

.navbar-title {
    font-size: 20px;
    font-weight: bold;
}